%h2 Changing your password

= form_for resource, url: user_registration_path, method: :put do |f|
  = devise_error_messages! 
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, required: true, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, required: true, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, required: true, class: 'form-control'
  .form-group
    = f.label :current_password
    = f.password_field :current_password, required: true, class: 'form-control'
  .form-group
    = f.submit 'Update', class: 'btn btn-primary'
