%h1.page-title Changing your password

= form_for resource, url: user_registration_path, method: :put do |f|
  = render 'devise/shared/error_messages', resource: resource
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, required: true, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: :off, required: true, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: :off, required: true, class: 'form-control'
  .form-group
    = f.label :current_password
    = f.password_field :current_password, autocomplete: :off, required: true, class: 'form-control'
  = f.submit 'Update', class: 'btn btn-primary'
