= form_with model: user, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, required: true, class: 'form-control'
  .checkbox
    = f.label :admin do |l|
      = f.check_box :admin
      = l
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  = f.submit 'Save user', class: 'btn btn-primary submit'
