= form_for user do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, required: true, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  .form-check.custom-checkbox
    = f.check_box :admin, class: 'custom-control-input'
    = f.label :admin, class: 'custom-control-label'
  .form-group
    = submit_tag 'Save user', class: 'btn btn-primary submit'
