%h1.page-title Users

%table.index
  %thead
    %tr
      %th Name
      %th Email
      %th Admin?
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= yes_no user.admin?
        %td= link_to 'Edit', edit_user_path(user)
        %td
          = button_to 'Delete', user_path(user), method: :delete,
            class: %w[btn btn-danger]
