%h1.page-title Login

.panel.panel-default
  .panel-body
    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
      - if devise_mapping.rememberable?
        .form-group
          .checkbox
            = f.label :remember_me do |l|
              = f.check_box :remember_me
              = l
      = f.submit 'Log in', class: 'btn btn-primary'

- if Rails.env.development?
  .panel.panel-default
    .panel-heading
      .panel-title Dev Login
    .panel-body
      = form_with url: dev_login_path, local: true do |f|
        .form-group
          = f.label :user_id
          = f.select :user_id, User.dev_login_options, {}, class: 'form-control'
        = f.submit 'Log in', class: 'btn btn-primary'
