%h1.page-title Login

= form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true, autocomplete: 'email'
  .field
    = f.label :password
    %br
    = f.password_field :password, autocomplete: 'current-password'
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions= f.submit 'Log in'

- if Rails.env.development?
  %hr
  %h1 Dev Login
  = form_with url: dev_login_path, local: true do |f|
    .field
      = f.label :user_id
      %br
      = f.select :user_id, User.dev_login_options
    .actions= f.submit 'Log in'
