- if stop.last_updated.present?
  .smalltext.last-updated
    Last updated by #{stop.last_updated_by} at #{stop.last_updated_at}
- if stop.completed_at.present?
  .smalltext.last-updated
    Completed at #{format_datetime stop.completed_at}
= form_for stop, url: bus_stop_path(stop.hastus_id) do |f|
  %table.edit-form
    %th
      Stop Info
      %tr
        %td= f.label :name
        %td= f.text_field :name, required: true, disabled: current_user.not_admin?
      %tr
        %td= f.label :hastus_id, 'Hastus ID'
        %td= f.number_field :hastus_id, required: true, disabled: current_user.not_admin?
      - if current_user.admin?
        %tr
          %td= f.label :route
          %td= f.collection_select :route_ids, Route.all, :id, :number, {}, multiple: true
      %tr
        %td= f.label :completed, 'Completed?'
        %td= f.check_box :completed
    - BusStop::SUPER_HASH.each do |category, hash|
      %th
        = f.label category
        - hash.each do |name, options|
          %tr
            %td= f.label name
            %td
              - if options.kind_of?(Array)
                = f.select name, options, include_blank: true
              - else
                = f.check_box name
    %tr
      %td= submit_tag 'Save stop', class: 'btn btn-primary submit'