- if stop.last_updated.present?
  .smalltext.last-updated
    Last updated by #{stop.last_updated_by} at #{stop.last_updated_at}
= form_for stop, url: bus_stop_path(stop.hastus_id) do |f|
  %table.edit-form
    %tr
      %td= f.label :name
      %td= f.text_field :name, required: true, disabled: current_user.not_admin?
    %tr
      %td= f.label :hastus_id, 'Hastus ID'
      %td= f.number_field :hastus_id, required: true, disabled: current_user.not_admin?
    - if current_user.admin?
      %tr
        %td= f.label :route
        %td= f.collection_select :route_ids, Route.order(:number), :id, :number, {}, multiple: true
    - BusStop::STRING_COLUMN_OPTIONS.each do |attribute, options|
      %tr
        %td= f.label attribute
        %td= f.select attribute, options, include_blank: true
    - BusStop::BOOLEAN_COLUMNS.each do |attribute|
      %tr
        %td= f.label attribute
        %td= f.check_box attribute
    %tr
      %td= f.label :mounting_clearance_after
      %td= f.number_field :mounting_clearance_after
    %tr
      %td= f.label :mounting_clearance_before
      %td= f.number_field :mounting_clearance_before
    %tr
      %td= submit_tag 'Save stop', class: 'btn btn-primary submit'
