- if stop.last_updated.present?
  .smalltext.last-updated
    Last updated by #{stop.last_updated_by} at #{stop.last_updated_at}
- if stop.completed_at.present?
  .smalltext.last-updated
    Completed by #{stop.completed_by.try :name} at #{format_datetime stop.completed_at}
= form_for stop, url: bus_stop_path(stop.hastus_id) do |f|
  %table.edit-form
    %thead
      %tr
        %th
          Stop Info
    %tbody
      %tr
        %td= f.label :name
        %td= stop.name
      %tr
        %td= f.label :hastus_id, 'Hastus ID'
        %td= stop.hastus_id
      %tr
        %td= f.label :routes
        %td= stop.route_list
      - @data_fields.each_pair do |category, category_fields|
        %tr
          %th{ colspan: 2 }= category
        - category_fields.each do |data_field|
          = fields_for data_field do |data_field_form|
            %tr
              %td= data_field_form.label :value, data_field.field_name
              - case data_field.field.field_type
              - when 'boolean'
                %td= data_field_form.check_box :value
              - when 'choice'
                %td= data_field_form.select :value, data_field.field.choices, include_blank: true
    %th
      Inventory
      %tr
        %td= f.label :completed, 'Completed'
        %td= f.check_box :completed
    %tr
      %td= submit_tag 'Save stop', class: 'btn btn-primary btn-lg btn-block submit'
      %td= link_to 'Field Guide', field_guide_bus_stops_path
