.page-title Bus Stops

%table.index
  %thead
    %tr
      %th Name
      %th Post
      %th Bench
      %th Light
      %th Ramp
      %th Shelter
      %th Trash
      %th
  - @stops.each do |stop|
    %tr
      %td= stop.name
      %td= check_image stop.has_post?
      %td= check_image stop.has_bench?
      %td= check_image stop.has_light?
      %td= check_image stop.has_ramp?
      %td= check_image stop.has_shelter?
      %td= check_image stop.has_trash?
      %td
        = link_to edit_bus_stop_path(stop) do
          %button.btn.btn-default Edit
