.page-title Bus Stops

= form_tag id_search_bus_stops_path do
  = label_tag :id, 'Enter stop ID'
  = text_field_tag :id, '', required: true
  = submit_tag 'Search'
or
= form_tag name_search_bus_stops_path do
  = label_tag :id, 'Enter stop name'
  = text_field_tag :name, '', required: true
  = submit_tag 'Search'
