.page-title Bus Stops

= form_with url: id_search_bus_stops_path, class: 'mb-5' do |f|
  = f.label :id, 'Enter stop ID'
  .input-group
    = f.text_field :id, required: true, class: 'form-control'
    .input-group-append
      = f.submit 'Search', class: 'btn btn-secondary'

= form_with url: name_search_bus_stops_path, class: 'mb-5' do |f|
  = f.label:name, 'Enter stop name'
  .input-group
    = f.text_field :name, required: true, class: 'form-control name-autocomplete'
    .input-group-append
      = f.submit 'Search', class: 'btn btn-secondary'

= form_with url: by_status_bus_stops_path, method: :get do |f|
  = f.label :number, 'Select a route'
  .input-group
    = f.select :number, Route.pluck(:number), {}, class: 'custom-select'
    .input-group-append
      =f.submit 'View stops', class: 'btn btn-secondary'
