.page-title Bus Stops

= form_with url: search_bus_stops_path, local: true do |f|
  = f.label :id, 'Enter Stop ID'
  = f.text_field :id, required: true
  = f.submit 'Search'

= form_with url: search_bus_stops_path, local: true do |f|
  = f.label :name, 'Enter Stop Name'
  %div{ data: { controller: 'autocomplete',
      autocomplete_url_value: autocomplete_bus_stops_path,
      autocomplete_query_param_value: 'term' }, role: 'combobox' }
    = f.text_field :name, required: true, data: { autocomplete_target: 'input' }
    = f.hidden_field :id, data: { autocomplete_target: 'hidden' }
    %ul.list_group{ data: { autocomplete_target: 'results' } }
  = f.submit 'Search'

= form_with url: by_status_bus_stops_path, method: :get, local: true do |f|
  = f.label :number, 'Select a Route'
  = f.select :number, options_for_select(Route.pluck(:number))
  = f.submit 'View Stops'
