= link_to 'View Outdated', outdated_bus_stops_path
%br
= link_to 'Export all as CSV', manage_bus_stops_path(format: :csv)
&bull;
= link_to 'Export all as XML', manage_bus_stops_path(format: :xml)

%table.manage
  %thead
    %th Stop
    %th ID
    %th Routes
    %th
    %th
  - @stops.each do |stop|
    %tr
      %td= stop.name
      %td= stop.hastus_id
      %td= stop.route_list
      %td= link_to 'Edit', edit_bus_stop_path(stop.hastus_id)
      %td= button_to 'Delete', bus_stop_path(stop.hastus_id), method: :delete,
        data: { confirm: "Are you sure you want to delete #{stop.name}? This cannot be undone." }
= will_paginate @stops
