= link_to 'View Outdated', outdated_bus_stops_path
= link_to 'Export all as CSV', manage_bus_stops_path(format: :csv)

%table.table.table-striped
  %thead
    %th Stop
    %th ID
    %th Routes
    %th
    %th
  %tbody
    - @stops.each do |stop|
      %tr
        %td= stop.name
        %td= stop.hastus_id
        %td= stop.route_list
        %td= link_to 'Edit', edit_bus_stop_path(stop.hastus_id)
        %td
          = button_to 'Delete', bus_stop_path(stop.hastus_id), method: :delete, class: 'btn btn-danger',
                                                               data: { turbo_confirm: "Are you sure you want to delete #{stop.name}? This cannot be undone." }
= paginate @stops
