%h1.page-title Bus stops not updated since #{@date} (#{@stops.count})

= form_with url: outdated_bus_stops_path, local: true, method: :get, class: 'form-inline' do |f|
  .form-group
    = f.label :date, class: 'sr-only'
    = f.date_field :date, value: @date, class: 'form-control'
    = f.submit 'Change Date', class: 'btn btn-default'

= link_to 'Export as CSV', outdated_bus_stops_path(date: params[:date], format: :csv)

- if @stops.present?
  %table.table.table-striped
    %thead
      %th Stop
      %th ID
      %th Routes
      %th Updated
      %th
    %tbody
      - @stops.each do |stop|
        %tr
          %td= stop.name
          %td= stop.hastus_id
          %td= stop.route_list
          %td= stop.updated_at.to_formatted_s :db_hm
          %td= link_to 'Edit', edit_bus_stop_path(stop.hastus_id)
  = will_paginate @stops
- else
  No such stops.
