%nav.navbar.navbar-light
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'favicon.png'
  - if user_signed_in?
    - if current_user.admin?
      = link_to 'New User', new_user_path, class: 'btn btn-outline-dark mx-3'
      = link_to 'Manage Stops', manage_bus_stops_path, class: 'btn btn-outline-dark mx-3'
      = link_to 'Manage Users', users_path, class: 'btn btn-outline-dark mx-3'
    .mx-auto
    = button_to 'Logout', destroy_user_session_path, method: :delete,
      class: 'btn btn-outline-dark', form_class: 'form-inline mx-3'
    = link_to 'Change Password', edit_user_registration_path, class: 'btn btn-outline-dark mx-3'
  - else
    .mx-auto
    = link_to 'Log in', new_user_session_path, class: 'btn btn-outline-dark mx-3'
