%nav.navbar.navbar-light.bg-light.navbar-expand-md.mb-3
  .container-fluid
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'favicon.png'
    = button_tag class: 'navbar-toggler', data: { bs_toggle: 'collapse', bs_target: '#main-nav' } do
      %span.navbar-toggler-icon
    #main-nav.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
        - if user_signed_in? && current_user.admin?
          = nav_item 'New User', new_user_path
          = nav_item 'Manage Stops', manage_bus_stops_path
          = nav_item 'Manage Users', users_path
      %ul.navbar-nav
        - if user_signed_in?
          = nav_item 'Logout', destroy_user_session_path, data: { turbo_method: :delete }
          = nav_item 'Change Password', edit_user_registration_path
        - else
          = nav_item 'Log In', new_user_session_path
