%nav.navbar.navbar-default.with-icon
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path}= image_tag 'favicon.png'
    - if user_signed_in?
      = link_to destroy_user_session_path, method: :delete do
        %button.btn.btn-default.navbar-btn.navbar-right.logout{type: :button} Logout
      = link_to new_bus_stop_path do
        %button.btn.btn-default.navbar-btn.navbar-left New Bus Stop
      - if current_user.admin?
        = link_to users_path do
          %button.btn.btn-default.navbar-btn.navbar-left Manage Users
    - else
      = link_to new_user_session_path do
        %button.btn.btn-default.navbar-btn.navbar-right.login{type: :button} Log in
