!!!
%html
  %head
    %title Stop Project
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application.css', media: 'all'
    = javascript_importmap_tags
    = csrf_meta_tags
  %body
    = render partial: 'layouts/navbar'
    %main.container-lg
      - unless user_signed_in?
        .alert.alert-info
          To request a login, please
          = succeed '.' do
            = mail_to 'transit-it@admin.umass.edu', 'contact UMTS IT'
      - if flash[:notice].present?
        .alert.alert-success= flash[:notice]
      - if flash[:errors].present?
        .alert.alert-danger
          - flash[:errors].each do |error|
            %p= error
      = yield
